.header_top {
  @apply flex bg-amazon_blue p-1 flex-grow;
  align-items: center;
}
.header_top_image {
  @apply mt-2 flex items-center flex-grow sm:flex-grow-0;
}
.header_top_image img {
  cursor: pointer;
}
.header_search {
  @apply bg-yellow-400;
}
.searchIcon {
  height: 12rem;
  border: 2px solid red;
}
